*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background: rgb(2, 2, 56);
}

.container{
    width: 720px;
    height: 400px;
    position: relative;
    left: 50%;
    right: 50%;
    perspective: 1000px;
    transform: 
}