body{
    background: url(https://images.pexels.com/photos/2232/vegetables-italian-pizza-restaurant.jpg?h=350&auto=compress&cs=tinysrgb);
    background-size: cover;
}
ul{
    margin: 0px;
    padding: 0px;
}
ul li a{
    text-decoration: none;
    color: white;
    display: block;
}

ul li{
    float: left;
    width: 150px;
    height: 40px;
    background-color: black;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    opacity: .8;
    margin-bottom: 2px;
    margin-left: 2px;
    overflow: hidden;
}

ul li a:hover{
    background-color: red;
    transition: linear all .4s;
}

ul li ul li{
    display: none;
}
ul li:hover ul li{
    display: block;
}

.hidden{
    display: none;
}

ul li ul li a{
    display:block;
}
